@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  cursor: pointer;
}


@font-face {
  font-family: "Gilroy Medium";
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy Semibold";
  src: url("./assets/fonts/Gilroy-Semibold.ttf");
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}


@font-face {
  font-family: "ZonaPro Regular";
  src: url("./assets/fonts/ZonaPro-Regular.ttf");
}

@font-face {
  font-family: "ZonaPro SemiBold";
  src: url("./assets/fonts/ZonaPro-SemiBold.ttf");
}

@font-face {
  font-family: "ZonaPro Bold";
  src: url("./assets/fonts/ZonaPro-Bold.ttf");
}