.clothing-editor-section {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 84px;
    position: relative;
}

.clothing-editor {
    position: relative;
    display: flex;
    background-color: #F0F0F1;
    overflow: hidden;
}

#clothing-editor-image-overlay {
    mix-blend-mode: overlay;
}

#clothing-editor-image {
    display: flex;
    align-items: center;
    aspect-ratio: 1/1;
    height: 100%;
}

.clothing-editor-order-creation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
}

.clothing-editor-tools-heading {
    font-family: "Gilroy Bold";
    color: #3C3D42;
}

.clothing-editor-clothing-part-container, .clothing-editor-fabric-container, .clothing-editor-color-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.clothing-editor-clothing-part, .clothing-editor-fabric, .clothing-editor-color {
    background-color: #d3d5d7;
    border: 3px #A5A7AA solid;
    border-radius: 10px;
    cursor: pointer;
}

.clothing-editor-fabric {
    object-fit: contain;
    box-sizing: border-box;
}

.clothing-editor-clothing-part-selected, .clothing-editor-fabric-selected, .clothing-editor-color-selected {
    border: 3px #79B076 solid;
}

.clothing-editor-heading {
    font-family: "Gilroy Bold";
    color: #3C3D42;
}

.clothing-editor-subtitle {
    font-family: "Gilroy SemiBold";
    color: #A5A7AA;
}

.clothing-editor-price {
    font-family: "Gilroy Bold";
    color: #79B076;
}

.clothing-editor-price-currency {
    font-family: "ZonaPro Bold";
}

.clothing-gallery-item-info {
    font-family: "Gilroy SemiBold";
    color: #afb5be;
}

.clothing-editor-button {
    display: inline-block;
    background-color: #d15050;
    border-radius: 14px;
    font-family: "Gilroy Bold";
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.clothing-editor-button:hover {
    background-color: #de5f5f;
}