.sign-in-form-section {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(60, 61, 66, 0.5);
    z-index: 100;
}

.sign-in-form {
    position: relative;
    background-color: white;
    border-radius: 30px;
}

.sign-in-form-close-button {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sign-in-form-heading {
    font-family: "Gilroy Bold";
    color: #3C3D42;
}

.sign-in-form-label {
    font-family: "Gilroy SemiBold";
    color: #7A7D7F;
}

.sign-in-form-field {
    display: block; 
    width: 100%;
    background-color: #F0F0F1;
    border-radius: 9px;
    font-family: "Gilroy SemiBold";
    color: #4D4E53;
    outline: none;
}

.sign-in-form-field-error {
    font-family: "Gilroy SemiBold";
    color: #d15050;
}

.sign-in-form-button, .sign-in-form-button-disabled {
    display: block;
    background-color: #3C3D42;
    border-radius: 14px;
    font-family: "Gilroy Bold";
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.sign-in-form-button:hover {
    background-color: #4D4E53;
}

.sign-in-form-button-disabled {
    color: #BCBEC1;
}

.sign-in-form-paragraph {
    font-family: "Gilroy SemiBold";
    color: #7A7D7F;
}

.sign-in-form-link {
    font-family: "Gilroy Bold";
    color: #4D4E53;
}